#section-page-header {
  display: block;
  min-height: 800px;
  max-height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.bg {
    left: 0px;
    top: 0px;
	width: 100%;
	z-index: -1;
	margin: 0px;
	opacity: 0;
}

media="all"
.inner-wrap {
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  margin: 0 auto;
  text-align: left;
}

media="all"
#section-page-header .inside-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo-container {
	margin-bottom: 10px;
	overflow: hidden;
    position: relative;
    width: 100%;
}

.header-links {
	display: inline;
	float: right;
	padding-top: 15px;
	
}

.header-links a {
	color: #555555;
	text-decoration: none;
	vertical-align: middle;
}
#footer {
	font-family: arial, verdana, sans-serif;
	font-size: .5em;
}


li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}


.nav-bar {
	display: table;
	width: auto;
	margin: 0 auto;
}


.nav-bar ul li a:hover {
	background: #555555;
	height: auto;
}


form img {
	width: 200px;
	height: 200px;
}

.jumbotron {
	font-size: 2em;
}

.candy {
	color: #DDDDDD;
	text-align: center;
	font-family: arial, verdana, sans-serif;
}

.candy h1 {
	font-size: 5em;
	color: white;
	font-family: 'Raleway';
}

.btn {
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0);
	border: solid;
}

.btn:hover {
	background-color: rgba(95, 95, 95, .5);
	color: #B1C966;
}

